.best-seller-label {
    position: absolute;
    top: 6%;
    left: 0%;
    background-color: #00a098;
    color: #fff;
    font-size: 10px;
    box-sizing: border-box;
    padding: 0 3px;
    z-index: 1;
}
